@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar{
    display: none;
}

*{
    font-family: serif;
}

@media (max-width:640px) {
    a.active{
        background-color: #2563eb; /* Tailwind's blue-600 */
        color: white;
    }
}

